<div class="main-container">

  <div *ngIf="!loading">

    <p><b>Informações da campanha</b></p>

    <mat-card class="card">
      <p class="p-title"><b>Nome</b></p>
      <p class="p-subtitle" >{{campanha.nome}}</p>
      <p class="p-title"><b>Descrição</b></p>
      <p class="p-subtitle">{{campanha.descricao}}</p>
      <p class="p-title"><b>Data início</b></p>
      <p class="p-subtitle">{{campanha.data_inicio}}</p>
      <p class="p-title"><b>Data fim</b></p>
      <p class="p-subtitle">{{campanha.data_fim}}</p>
      <p class="p-title"><b>Meta</b></p>
      <p class="p-subtitle">R${{campanha.meta}}</p>
    </mat-card>

    <p><b>Com quanto você deseja contribuir?</b></p>

    <mat-card class="card">
      <div class="campanha-container">

        <mat-form-field appearance="fill" class="doacao-input">
          <input matInput type="number" [formControl]="doacaoInput" >
          <span matPrefix>R$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
    
        <button mat-flat-button color="primary" (click)="doar()" class="doacao-button" [disabled]="doacaoInput.invalid">contribuir</button>
      </div>

    </mat-card>

    <div *ngIf="error">
      <p><b>Desculpe, o serviço está temporariamente indisponível!</b></p>
    </div>

  </div>

  <div *ngIf="loading" class="loading-container" >
      <mat-spinner></mat-spinner>
  </div>

</div>


