.campanha-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doacao-button {
    width: 100%;
}

.doacao-input {
    width: 100%;
}

.p-title {
    margin-bottom: 0.5rem;
}

.p-subtitle {
    margin: 0;
}