<div mat-dialog-content>
    <div style="display: flex; justify-content: center; align-items: center;">
        <img src="../../assets/icons/sucesso.png" alt="imagem sucesso na doação">
    </div>
  <p>Muito obrigado pela contribuição, sua doação foi realizada com sucesso!</p>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close style="padding: 0.5rem 1rem 0.5rem 1rem; background-color: #ff5722; color: white; border-radius: 4px; border: none;" (click)="redirectHome()">ok</button>
</div>