<div class="main-container">
    <div *ngIf="!loading">

        <p><b>Informações da organização</b></p>

        <mat-card class="card">
            <div>
                <p class="p-title"><b>Nome</b></p>
                <p class="p-subtitle">{{organizacao.nome}}</p>
                <p class="p-title"><b>Descrição</b></p>
                <p class="p-subtitle">{{organizacao.cnpj}}</p>
            </div>
        </mat-card>

        <p><b>Projetos </b></p>

        <mat-card *ngFor="let projeto of projetos" class="card">
            <div>
                <p><b>{{projeto.nome}}</b></p>
                <p>{{projeto.descricao}}</p>
            </div>
        </mat-card>

        <div *ngIf="error">
            <p><b>Desculpe, o serviço está temporariamente indisponível!</b></p>
        </div>

    </div>
    <div *ngIf="loading" class="loading-container" >
        <mat-spinner></mat-spinner>
    </div>
</div>