/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #eee9e5; }

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

b {
    font-family: 'Roboto', sans-serif;  
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #106db2;
}

.main-container {
    margin: 1rem;
}

/* ---- LOADING CARD ----- */
.loading-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
