.percent-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.percent-bar {
    width: 66%;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio-group {
    display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  } 

  .card {
    margin-top: 1rem;
    background-color: #ffffff;
}

  /* ---- ORGANIZACAO CARD ----- */



.organizacao-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}