<div class="main-container">

    <label><b>Filtre por opções</b></label>
    <mat-radio-group
        aria-labelledby="Filtre por opções"
        class="radio-group"
        [(ngModel)]="opcao">
        <mat-radio-button class="radio-button" *ngFor="let opcao of opcoes" [value]="opcao" (change)="radioChange($event)">
            {{opcao}}
        </mat-radio-button>
    </mat-radio-group>

    <div *ngIf="!loading">

        <div *ngIf="campanha">
            <p><b>Ajude em uma campanha, seja um anjo :)</b></p>

            <mat-card *ngFor="let campanha of campanhasAtivas" class="card">
                <div>
                    <p><b>{{campanha.nome}}</b></p>
                    <p>{{campanha.descricao}}</p>
                    <div class="card-container">
                        <div class="percent-container">
                            <mat-progress-bar mode="determinate" [value]="getPercentual(campanha.percentual)" class="percent-bar"></mat-progress-bar>
                            <p>{{campanha.percentual}}</p>
                        </div>
                        <button mat-flat-button color="primary" (click)="irParaPaginaCampanha(campanha.id)">contribuir</button>
                    </div>
                </div>
            </mat-card>

        </div>

        <div *ngIf="organizacao">
            <p><b>Organizações</b></p>
            <mat-card *ngFor="let organizacao of organizacoes" class="card">
                <p><b>{{organizacao.nome}}</b></p>
                <div class="organizacao-container">
                    <p>{{organizacao.cnpj}}</p>
                    <a (click)="irParaPaginaOrganizacao(organizacao.id)">ver mais</a>
                </div>
            </mat-card>
        </div>

        <div *ngIf="error">
            <p><b>Desculpe, o serviço está temporariamente indisponível!</b></p>
        </div>

    </div>

    <div *ngIf="loading" class="loading-container" >
        <mat-spinner></mat-spinner>
    </div>

</div>



